@if (dishes$ | async; as dishes){
@if (dishes.length == 0) {
<p>No hay platos...</p>
}
@for (dish of dishes; track dish) {
<div class="card bg-base-100 w-96 shadow-sm">
  <figure>
    <img src="{{dish.image}}" alt="Ensalada de Tomate" />
  </figure>
  <div class="card-body">
    <section class="flex items-center gap-10">
      <h2 class="card-title">{{dish.name}}</h2>
      <p>{{dish.category | titlecase}}</p>
    </section>
    <p>{{dish.description}}</p>
    <p class="text-end price-color">{{dish.price | currency : 'EUR'}}</p>
  </div>
</div>
}
}

<p>Ordenar por precio  ||||||| categoria </p>
